{% extends 'default/base_layout.html.twig' %}

{% block body %}

<div class="gohome_container">
    <h1>Finished!</h1>
    <div class="gohome_content">
        Thank you for filling out this survey!
        Someday you will get something back for this :)
    </div>
</div>

{% endblock %}