.alone_content {
	float: top;
	padding-left: 7%;
	padding-right: 7%;
	padding-top: 2%;
	background-color: white;
	width: 80%;
	height: 100%;
	margin: 0 auto;
}

.alone_tab{
	width 100%;
	height: 10%;
	background-color: rgba(120, 120, 120, 0.2);
}

.alone_background {
	width: 100%;
	height: 100%;
	background-color: gray;
}

.alone_left {
	float: left;
	padding-left: 10%;
}

.alone_right {
	float: right;
	padding-right: 10%;
}

.alone_spacer {
	padding-bottom: 20%;
}

h1{
	font-size: 400%;
}