{% extends 'default/base_layout.html.twig' %}

{% block body %}

{% stylesheets '@AloneBundle/Resources/public/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
{% endstylesheets %}

<div id="alone_wrapper">

<div class="alone_tab">
	<div class="alone_icons_position">
		<a class="alone_icon" target="_blank" href="https://www.artstation.com/ghdev"><span class="fab fa-artstation"></span></a>
		<a class="alone_icon" target="_blank" href="https://twitter.com/AloneDevelopers"><span class="fab fa-twitter"></span></a>
		<a class="alone_icon" target="_blank" href="https://www.youtube.com/channel/UCwFT6RfDcC21jE-QhYxCt5g"><span class="fab fa-youtube"></span></a>
	</div>
</div>

<div class="alone_main_image">
{% image '@AloneBundle/Resources/public/img/GoHomeMain_1.jpg' %}
<img alt="GoHomeMain_1" src="{{ asset_url }}">
{% endimage %}
</div>

<div class="alone_content_left">
	<div class="alone_content">

		<div class="alone_header">
			GoHome
		</div>
		
		<div class="alone_text">
			GoHome is an open world horror game. <br>
			The main character "Thomas" walks home at night after his work in a gas station and feels that something is haunting him.
			<br>
			<br>
			Unaware of his stalkers, he attempts to find out more about them.<br>
			And the more he knows, the more he starts to realize his real, unpleasant situation.
		</div>

	</div>
</div>

<div class="alone_content_right">
	<div class="alone_content">
		
		<div class="alone_header">
		Information
		</div>
		
		<div class="alone_text">
			<li>
				<ul>Release date: ~End of 2020</ul>
			</li>
		</div>		
		
	</div>
</div>	
	
{% endblock %}